<h1>Konvertera värden</h1>



<section>
    <h2>Konvertera Längd</h2>
  <button (click)="switchLengthConversion()">
    Växla till {{ isMeterToFeet ? 'Feet → Meter' : 'Meter → Feet' }}
  </button>

  <div class="input-group">
    <label>
      {{ isMeterToFeet ? 'Meter:' : 'Feet:' }}
      <input [(ngModel)]="lengthInput" (input)="convertLength()" type="number" />
    </label>
  </div>

  <p>
    Resultat: {{ lengthOutput | number:'1.2-2' }} {{ isMeterToFeet ? 'Feet' : 'Meter' }}
  </p>
</section>

<hr>



<section>
    <h2>Konvertera Temperatur</h2>
  <button (click)="switchTempConversion()">
    Växla till {{ isCelsiusToFahrenheit ? 'Fahrenheit → Celsius' : 'Celsius → Fahrenheit' }}
  </button>

  <div class="input-group">
    <label>
      {{ isCelsiusToFahrenheit ? 'Celsius:' : 'Fahrenheit:' }}
      <input [(ngModel)]="tempInput" (input)="convertTemp()" type="number" />
    </label>
  </div>

  <p>
    Resultat: {{ tempOutput | number:'1.1-1' }}° {{ isCelsiusToFahrenheit ? 'Fahrenheit' : 'Celsius' }}
  </p>
</section>
