<section>
    <h1>Om mitt arbete</h1>

    <article>
        <h2>Hur jag löste uppgiften</h2>
        <p>
            Jag började med att planera strukturen för applikationen i Angular, då kom jag fram till att jag ville ha en
            mapp för de 3 olika sidorna About, Convert och Home. Navigeringen och headern valde jag att lägga i 
            app.component, men för footern skapade jag en egen komponent.
            Jag använde databindning för att koppla input-fälten till variabler och skapade funktioner som hanterar
            konverteringar mellan olika enheter.
            Jag använde även knappar för att växla mellan konverteringsriktningar, likt funktionaliteten i Google
            Translate. Först hade jag 4 inputfält, utan knappar som bytte konverteringsriktning. Jag tyckte det 
            såg alldeles för rörigt ut, och är mer nöjd med detta slutresultat. 
        </p>
    </article>

    <article>
        <h2>Slutsatser och lärdomar</h2>
        <p>
            Till skillnad från SASS och dess 7:1 struktur, tyckte jag detta var mycket lätt att komma in i.
            Jag trodde att jag skulle bli förvirrad av alla olika filer och mappar - men tvärtom. Kanske är
            det för att man har lite mer vanan inne med denna struktur efter att ha testat på det i SASS -
            oavsett så är det ett fantastiskt verktyg. Detta hade underlättat enormt i tidigare projekt
            man gjort, och jag ser framemot att få använda det i kommande.
            <br>
            När jag först läste uppgiftsbeskrivningen med konvertering trodde jag att uppgiften skulle bli
            oerhört komplicerad, men med angular och TypeScript kändes det nästan barnsligt enkelt för en 
            gångs skull. Arbetet flöt på bra, allt kändes strukturerat och tydligt, och sparade oerhört
            mycket tid!
        </p>
    </article>
</section>